.block-highlight {
	@include flex(center, center, column);

	&--default {
		padding: 120px 30px;

		// .grid {
		// 	@include flex( center, center, row);
		// }

		.block-highlight__headline {
			color: $BLUE;
			font-family: $H2_FONT;
			font-size: $H2_SIZE;
			margin-bottom: 30px;

			@media screen and ( max-width: $LAP_MAX ) {
				padding: 0 30px;
			}
		}
		.block-highlight__content {
			p {
				color: $DARK_GREY;
				font-family: $P_FONT;
				font-size: $P_SIZE;
				line-height: 36px;
			}

			a {
				color: $BLUE;
				font-family: $A_FONT;
				font-size: $A_SIZE;
			}

			@media screen and ( max-width: $LAP_MAX ) {
				padding: 0 30px;
			}

		}
	}

	@media screen and ( max-width: $LAP_MAX ) {
		padding: 30px 0 0;

		img {
			margin-bottom: -18px;
			margin-top: 30px;
		}
	}
}

.block-highlight__main-image {
	height: auto;
	max-width: 100%;
	width: 100%;

	@media screen and ( max-width: $LAP_MAX ) {

	}
}

// Highlight_2
#highlight_2 {
	background-color: $OFF_WHITE;

	.block-highlight__main-image {
		width: 90%;
		width: calc(100% - 60px);

		@media screen and ( max-width: $LAP_MAX ) {
			width: 100%;
		}
	}
}

