#block-masthead {
	@include flex(center, center, column);
	color: $WHITE;
}

#block-masthead__inner {
	background-color: $TEAL;
	background-image: linear-gradient(90deg, transparent 15%, $BLUE 50%);
	max-width: $SITE_WIDTH;

	> .grid {
		@include flex();

		.grid__item {
			margin: 0 0 -2px;

			@media screen and ( max-width: $LAP_MAX ) {
				&:last-child {
					display: none;
				}
			}
		}
	}

	img {
		@media screen and ( min-width: 1023px ) and (max-width: 1045px) {
			max-width: 103%;
			// max-width: calc(100% + 5px;);
		}
	}
}
.block-masthead__content {
	@include flex(center, center, column);
	
	background-size: cover;
	padding: 90px 0;

	@media screen and ( min-width: $LAP_MAX + 1 ) {
		background-image: none !important;
	}
}
.block-masthead__headline {
	color: inherit;
	font-family: $H1_FONT;
	font-SIZE: $H1_SIZE;
	margin-bottom: 30px;
	text-align: center;
	width: 400px;

	@media screen and ( max-width: $LAP_MAX ) {
		font-size: 52px;
		line-height: 46px;
		margin-bottom: 0;
	}
}
.block-masthead__calltoaction {
	border-radius: 100px;
	border: 2px solid $WHITE;
	color: inherit;
	font-family: $P_FONT;
	font-SIZE: $P_SIZE;
	margin: 30px 0;
	padding: 15px 30px;
	text-decoration: none;
}
.block-masthead__subtext {
	color: inherit;
	font-family: $P_FONT;
	font-SIZE: $P_SIZE;
}
.block-masthead__divider {
	display: none;

	@media screen and ( min-width: $LAP_MAX + 1 ) {
		border-color: $WHITE;
		border-width: 0 0 1px;
		display: block;
		margin: 0;
		opacity: .5;
		width: 100px;
	}
}
.block-masthead__main-image {
	height: auto;
	max-width: $CONTAINER;
	width: 100%;
}
